body {
  font-family: "Anonymous Pro", monospace;
  max-width: 600px;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: white;
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

.themeButton {
}

.title {
  font-family: "Anonymous Pro", monospace;
  text-align: center;
  font-size: 25px;
}

.changeHours {
  text-align: right;
  font-size: 16px;
  font-family: "Anonymous Pro", monospace;
}

.cities {
 
}
.currentLocation,
.currentCity,
.currentDate,
.currentTime {
  text-align: center;
  font-size: 16px;
  font-family: "Anonymous Pro", monospace;
}

.dropdown {
  text-align: center;
  font-family: "Anonymous Pro", monospace;
  font-size: 16px;
}

.cityOne,
.cityTwo,
.cityThree,
.cityFour {
  font-size: 14px;
}

footer {
  text-align: center;
  font-size: 10px;
  font-family: "Anonymous Pro", monospace;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #144054;
}
