body {
  font-family: "Anonymous Pro", monospace;
  max-width: 600px;
  margin: 0;
}

.dark body {
  font-family: "Anonymous Pro", monospace;
  max-width: 600px;
  margin: 0;
}
.container {
  max-width: 600px;
  margin: 20px auto;
  background: white;
  box-shadow: #fbbef5 0px 7px 29px 0px;
  border-radius: 10px;
  padding: 30px;

  font-family: "Anonymous Pro", monospace;
}

.dark .container {
  max-width: 600px;
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );
  box-shadow: #fbbef5 0px 7px 29px 0px;
  border-radius: 10px;
  font-family: "Anonymous Pro", monospace;
  color: white;
}

.themeButton {
  font-family: "Anonymous Pro", monospace;
  text-align: center;
  font-size: 16px;
  box-shadow: #fbbef5 0px 5px 5px 0px;
  border-radius: 5px;
  border: #9f6da3 solid 1px;
  padding: 5px;
  color: #f24de1;
  opacity: 0.7;
  background-color: white;
}
.dark .themeButton {
  font-family: "Anonymous Pro", monospace;
  text-align: center;
  font-size: 16px;
  box-shadow: #fbbef5 0px 5px 5px 0px;
  border-radius: 5px;
  border: #9f6da3 solid 1px;
  padding: 5px;
  color: #fbbef5;
  background-color: black;
}

.title {
  font-family: "Anonymous Pro", monospace;
  text-align: center;
  font-size: 24px;
}

.dark .title {
  font-family: "Anonymous Pro", monospace;
  text-align: center;
  font-size: 24px;
}

.changeHours {
  text-align: right;
  font-size: 16px;
  font-family: "Anonymous Pro", monospace;
}

.currentLocation {
  text-align: center;
  font-size: 16px;
  font-family: "Anonymous Pro", monospace;
}
.currentCity {
  text-align: center;
  font-size: 24px;
  font-family: "Anonymous Pro", monospace;
  color: #f24de1;
}

.currentTime {
  text-align: center;
  font-size: 16px;
  font-family: "Anonymous Pro", monospace;
}

.currentDate {
  text-align: center;
  font-size: 12px;
  font-family: "Anonymous Pro", monospace;
  opacity: 0.6;
}

.dropdown {
  text-align: center;
  font-family: "Anonymous Pro", monospace;
  font-size: 16px;
  padding: 10px;
}

.citiesList {
  padding: 20px;
  margin: 10px;
  font-family: "Anonymous Pro", monospace;
  box-shadow: #fbbef5 0px 7px 29px 0px;
  border-radius: 10px;
}

.cityOne,
.cityTwo,
.cityThree,
.cityFour {
  font-size: 20px;
  color: #f24de1;
}

.cityOneDate,
.cityTwoDate,
.cityThreeDate,
.cityFourDate {
  font-size: 10px;
  opacity: 0.6;
}

.timeOne,
.timeTwo,
.timeThree,
.timeFour {
  font-size: 20px;
  text-align: right;
  padding: 10px;
}

.allCities {
  font-size: 14px;
}

form {
  text-align: center;
  padding: 10px;
}

.searchCity {
  margin: 10px;
}
footer {
  text-align: center;
  font-size: 10px;
  font-family: "Anonymous Pro", monospace;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #f24de1;
}
