body {
  font-family: "Ysabeau Office", sans-serif;
  max-width: 600px;
}

.container-fluid {
  text-align: center;
  padding: 0;
}

.themeButton {
  display: block;
  align-items: left;
  font-family: "Anonymous Pro", monospace;
}

.title {
  font-family: "Anonymous Pro", monospace;
  text-align: center;
  font-size: 25px;
}

.changeHours {
  text-align: right;
  font-size: 16px;
  font-family: "Anonymous Pro", monospace;
}

.currentLocation,
.currentCity,
.currentDate,
.currentTime {
  text-align: center;
  font-size: 16px;
  font-family: "Anonymous Pro", monospace;
}

.dropdown {
  text-align: center;
  font-family: "Anonymous Pro", monospace;
  font-size: 16px;
}

.cities {
  font-family: "Anonymous Pro", monospace;
}

.cityOne,
.cityTwo,
.cityThree,
.cityFour,
.cityOneDate,
.cityTwoDate,
.cityThreeDate,
.cityFourDate,
.timeOne,
.timeTwo,
.timeThree,
.timeFour {
  font-size: 16px;
}

footer {
  text-align: center;
  font-size: 10px;
  font-family: "Anonymous Pro", monospace;
}
